<template>
    <ul class="navbar-nav">
        <li class="nav-item dropdown">
            <a id="dropdown" class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">
                {{ fullName }} <span class="caret"></span>
            </a>

            <div class="dropdown-menu dropdown-menu-right">
                <a href="#" class="dropdown-item" @click.prevent="logout">
                    {{ $t('Logout') }}
                </a>
            </div>
        </li>
    </ul>
</template>

<script>
    export default {
        props: ['fullName'],

        methods: {
            async logout() {
                const { data } = await Yuridik.request().post('/auth/logout');

                if (data.logout) {
                    Yuridik.$emit('success', 'You successfully logged out.');

                    setTimeout(function () {
                        window.location.href = '/';
                    }, 7000);

                    return;
                }

                window.location.reload();
            },
        },
    }
</script>
