<template>
    <div>
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h2 class="h2" v-if="action.all && users.length > 0">
                {{ $t('Users') }}
            </h2>

            <h2 class="h2" v-else-if="action.update && user.phone">
                {{ $t('Update user') }}
            </h2>

            <h2 class="h2" v-else-if="action.delete && user.phone">
                {{ $t('Delete user') }}
            </h2>
        </div>

        <div class="table-responsive" v-if="action.all && users.length > 0">
            <table class="table table-sm table-bordered table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th>#</th>
                        <th>{{ $t('Photo') }}</th>
                        <th>{{ $t('Full Name') }}</th>
                        <th>{{ $t('Phone') }}</th>
                        <th>{{ $t('Email') }}</th>
                        <th>{{ $t('Role') }}</th>
                        <th>{{ $t('City') }}</th>
                        <th>{{ $t('Registered at') }}</th>
                        <th>{{ $t('Actions') }}</th>
                    </tr>
                </thead>

                <tbody>
                    <tr v-for="usr in users" :key="usr.id">
                        <td>{{ usr.id }}</td>
                        <td>null</td>
                        <td>{{ `${usr.first_name} ${usr.last_name}` }}</td>
                        <td>{{ `+${usr.phone}` }}</td>
                        <td>{{ usr.email }}</td>
                        <td>{{ $t(`roles.${usr.role.slug}`) }}</td>
                        <td>{{ $t(`cities.${usr.city.slug}`) }}</td>
                        <td>{{ usr.created_at }}</td>
                        <td>null</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script>
    export default {
        data: () => ({
            action: {
                all: false,
                update: false,
                delete: false,
            },

            button: {
                update: false,
                delete: false,
            },

            roles: [
                { id: 1, slug: 'admin' },
                { id: 2, slug: 'moder' },
                { id: 3, slug: 'advocacy' },
                { id: 4, slug: 'lawyer' },
                { id: 5, slug: 'legal-counsel' },
                { id: 6, slug: 'legal-person' },
                { id: 7, slug: 'client' },
            ],

            cities: [
                { id: 1, slug: 'no-region' },
                { id: 2, slug: 'tashkent-city' },
                { id: 3, slug: 'tashkent-region' },
                { id: 4, slug: 'andijan' },
                { id: 5, slug: 'bukhara' },
                { id: 6, slug: 'jizzakh' },
                { id: 7, slug: 'karakalpakstan' },
                { id: 8, slug: 'kashkadarya' },
                { id: 9, slug: 'navoi' },
                { id: 10, slug: 'namangan' },
                { id: 11, slug: 'samarkand' },
                { id: 12, slug: 'surkhandarya' },
                { id: 13, slug: 'syrdarya' },
                { id: 14, slug: 'fergana' },
                { id: 15, slug: 'khorezm' },
            ],

            user: {
                first_name: null,
                last_name: null,
                phone: null,
                email: null,
                photo: null,
                role: null,
                city: null,
            },

            users: [],

            errors: [],
        }),

        methods: {
            async getUsers() {
                let response;

                try {
                    response = await Yuridik.request().get('/api/users');
                } catch (error) {
                    Yuridik.$emit('error', 'Unknown error, please try again!');

                    return;
                }

                this.users = response.data;
                this.action.all = true;
            },
        },

        async created() {
            await this.getUsers();
        },
    }
</script>
