#yuridik {
  .navbar {
    padding: 0;
  }

  .navbar-brand {
    margin-right: 0;
  }

  .navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
  }

  .navbar-nav {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .sidebar {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1020;
    padding: 52px 0 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
    .nav-link {
      font-weight: 500;
      color: #333;
      &.active {
        color: #007bff;
      }
    }
  }

  .sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 52px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .sidebar-heading {
    text-transform: uppercase;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 1.5rem;
    margin-bottom: .25rem;
  }
}

input[type='search'] {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

input[type='search'] {
  color: #fff;
  border-color: rgba(255, 255, 255, .1);
  background-color: rgba(255, 255, 255, .1);
}

input[type='search']:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

main[role='main'] {
  padding-top: 133px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

@media (min-width: 768px) {
  #yuridik {
    .navbar-brand {
      margin-right: .5rem;
    }

    .sidebar {
      display: block;
    }
  }

  main[role='main'] {
    padding-top: 52px;
  }
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  #yuridik {
    .sidebar-sticky {
      position: sticky;
    }
  }
}
