#yuridik .navbar {
  padding: 0;
}
#yuridik .navbar-brand {
  margin-right: 0;
}
#yuridik .navbar-brand {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  background-color: rgba(0, 0, 0, 0.25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.25);
}
#yuridik .navbar-nav {
  padding-left: 1rem;
  padding-right: 1rem;
}
#yuridik .sidebar {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1020;
  padding: 52px 0 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
}
#yuridik .sidebar .nav-link {
  font-weight: 500;
  color: #333;
}
#yuridik .sidebar .nav-link.active {
  color: #007bff;
}
#yuridik .sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 52px);
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto;
}
#yuridik .sidebar-heading {
  text-transform: uppercase;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 1.5rem;
  margin-bottom: 0.25rem;
}

input[type=search] {
  padding: 0.75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

input[type=search] {
  color: #fff;
  border-color: rgba(255, 255, 255, 0.1);
  background-color: rgba(255, 255, 255, 0.1);
}

input[type=search]:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.25);
}

main[role=main] {
  padding-top: 133px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

@media (min-width: 768px) {
  #yuridik .navbar-brand {
    margin-right: 0.5rem;
  }
  #yuridik .sidebar {
    display: block;
  }

  main[role=main] {
    padding-top: 52px;
  }
}
@supports ((position: -webkit-sticky) or (position: sticky)) {
  #yuridik .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}