html,
body,
#yuridik {
  height: 100%;
}

#yuridik {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.auth-body {
  width: 100%;
  max-width: 450px;
  padding: 15px;
  margin: auto;
}
.auth-body .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.auth-body .form-control:focus {
  z-index: 2;
}
.auth-body .register-form span[data-text="+998"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
}
.auth-body .register-form input[type=tel] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
}
.auth-body .register-form input[type=text],
.auth-body .register-form input[type=email] {
  margin-bottom: -1px;
  border-radius: 0;
}
.auth-body .register-form select {
  margin-bottom: 1rem;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.auth-body .verify-form span[data-text="+998"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
}
.auth-body .verify-form input[type=tel] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
}
.auth-body .verify-form input[type=text] {
  margin-bottom: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}