/*----- 4K Monitors -----*/
@media screen and (max-width: 2560px) {
	
}

/*----- Laptop L -----*/
@media screen and (max-width: 1440px) {
	
}

@media screen and (max-width: 1200px) {
	
}


/*----- Laptop -----*/
@media screen and (max-width: 1024px) {
	
}


@media screen and (max-width: 850px) {
	
}


/*----- Tablet -----*/
@media screen and (max-width: 768px) {
	
}

@media screen and (max-width: 767px) {
	.tab-content>.active {
		display: block;
	}

	.mytabs a {
		border-top: 1px solid #ddd!important;
		border-right: none!important;
	}

	.mytabs a:first-child {
		border-top-left-radius: 15px;
		border-top-right-radius: 15px;
		border-top: none!important;
	}


	.mytabs a:last-child {
		border-bottom-left-radius: 0px;

	}

	.mytab-content {
		padding: 15px 5px 15px 5px;
	}
	.maqollar_bg {
		padding-bottom: 1rem;
	}
	.myclass1 {
		flex-wrap: inherit;
	}
	.maqolalar_item {
		text-align: center;
	}
}

@media screen and (max-width: 600px) {
	
}


/*----- Mobile L -----*/
@media screen and (max-width: 425px) {
	.person {
		margin: 15px 0!important;
		padding: 10px!important;
	}
	.person h3 {
		font-size: 17px!important;
	}
	.person img {
		padding: 10px;
	}
}

/*----- Mobile M -----*/
@media screen and (max-width: 375px) {
	
}

/*----- Mobile S -----*/
@media screen and (max-width: 320px) {
	.mytabs {
		width: 290px;
	}
	.mybtn2 {
		bottom: 5px;
		font-size: 10px;
	}
}










/*------------------ MOBILE-FIRST Method ------------------*/

/*----- Mobile S -----*/
@media screen and (min-width: 320px) {
	
}


/*----- Mobile M -----*/
@media screen and (min-width: 375px) {
	
}


/*----- Mobile L -----*/
@media screen and (min-width: 425px) {
	
}


/*----- Tablet -----*/
@media screen and (min-width: 600px) {
	
}

@media screen and (min-width: 768px) {
	
}


/*----- Laptop -----*/
@media screen and (min-width: 850px) {
	
}

@media screen and (min-width: 1024px) {
	
}


/*----- Laptop L -----*/
@media screen and (min-width: 1200px) {
	
}

@media screen and (min-width: 1440px) {
	
}

/*----- 4K Monitors -----*/
@media screen and (min-width: 2560px) {
	
}