.bg-gradient-primary {
    background: linear-gradient(80deg,#0049b4 0,#0049b4 100%) s!important;
}

body{
    background-color: #fafbfc !important;
}

.padding-top-10{
    padding-top: 10px !important;
}

.color_blue {
    color: #0039b5 !important;
    font-weight: 700;
}

.margin-bottom-10{
    margin-bottom: 10px;
}

.margin-bottom-20{
    margin-bottom: 20px;
}

.margin-bottom-30{
    margin-bottom: 30px;
}

.margin-bottom-40{
    margin-bottom: 40px;
}

.bg_trans{
    background-color: transparent !important;
}

.bg_first{
    background-image: url("../img/elem4.png");
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 50%;
}

.margin-top-10{
    margin-top: 10px;
}

.background_questions{
    background-image: url("../img/elem5.png");
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: right;
}

.background_questions .btn-primary{
    background: #0039b5 !important;
}

.btn-primary{
    background: #0039b5 !important;
}

.color_default{
    color: #343b40 !important;
    font-weight: 500;
}


.padding-top-20{
    padding-top: 20px !important;
}
.padding-top-30{
    padding-top: 30px !important;
}


.padding-top-40{
    padding-top: 40px !important;
}

.questions_block{
    padding: 40px;
    background: #fff;
    border-radius: 5px;
}

.div_center{
    justify-content: center;
    display: flex;
}

.question_tab_border{
    border: 1px solid #0039b5;
    border-radius: 5px;
}

.question_tab_border .btn-primary{
    background: #0039b5 !important;
}


.tab_actions{
    display: none;
}

.tab_active {
    display: block !important;
}

.margin-top-20{
    margin-top: 20px;
}

.questions_answers{
    background: #7e9ed9;
    color: #fff;
    padding: 5px 15px;
    border-radius: 5px;
}


.question_price_index{
    color: #6bc276;
}

.questions_item_index{
    padding: 10px 5px 10px 10px;
    border-bottom: 1px solid #ddd;
}

.questions_item_index:hover{
    background: #ddd;
    cursor: pointer;
}
.maqollar_bg{
    background-color: #3f454a;
    background-image: url("../img/bg2.jpeg");
    background-size: cover;
}


.maqolalar_item{
    height: auto;
    background: #fff;
    border-radius: 5px;
    padding: 15px;
}

.maqolalar_item .top-img {
    margin-bottom: 10px;
    background-size: cover !important;
    background-repeat: no-repeat;
    background-position: center!important;
    width: 100%;
    height: 175px;   
    border-radius: 5px;
}


.mql_title{
    color: #333;
}

.maqolalar_item hr {
    margin: 5px 0;
}

.mql_details{
    font-size: 12px;
}


.maqolalar_item p{
    font-size: 12px;
}

.mql_a{
    font-size: 13px;
    text-decoration: underline;
    color: #6c7686;
}

.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    text-align: left;
    border-radius: 5px;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.el1{
    margin-top: -1px;
    transform: translateX(-47%) !important;
}
.border_new{
    border: solid 2px #2F5DC4 !important;
}

.padd{
    padding:20px;
    padding-left: 29px;
    padding-right: 26px;
    border-radius: 100px 100px 100px 100px ;
    background-color: #0039B5; 
}
.padd i{
    font-size: 60px
}
.style_el{
    padding: 8px;
    border-radius: 10px 0px 0px 10px;
    color:white;
    font-weight: 500;
}
.btn_use{
    border-radius: 12px 12px 12px 12px;
    width:120px;
    padding-right: 0px;
    padding-left: 0px;
    color:#0039B5;
    text-align: center;
    padding-top: 0px;
    padding-bottom: 0px;
}
.down_text{
    color:black;
}
.phone i{
    font-size: 60px

}
.phone{
    padding:20px;
    padding-right: 26px;
    border-radius: 100px 100px 100px 100px ;
    background-color: #0039B5; 
}
.hvr_btn a:hover{
    background-color: #7594D7 !important;
}
.btn_use:hover{
    background-color:#0039B5;

}
.btn_use a{
    display: block;
}
.btn_use a:hover{
    color:white;
}
.slider_el ul li{
    list-style: none;
    width:40px; 
    border: solid 1px #CACACC;
    margin-right: 10px
}
.slider_el ul li a{
    display: block;
    text-align: center;
    color: #7C7C7C;
}
.slider_el ul li a:hover{
    background-color: #7C7C7C;
    color:white;
}
.slider_el ul li a i:hover{
    color:white;
}
.slider_el ul li a i{
    display: block;

    padding:8px;
}
.slider_el{
    margin-bottom: 20px;
    padding-right: 50px;
}
.cor_left{
    font-size: 60px; 
    position: absolute;
    left: 0%;
    top:41%;
    color:#7C7C7C;
}
.cor_right{
    font-size: 60px; 
    position: absolute;
    right: 0%;
    top:41%;
    color:#7C7C7C;
}

.myform {
    display: flex;
    flex-direction: column;
}

.myform input {
    width: 100%;
    padding: 15px 25px;
    margin: 10px 0;
    border: none;
    box-shadow: 0 0 10px #ddd;
    border-radius: 15px;
}


.myform textarea {
    width: 100%;
    padding: 15px 25px;
    height: 20  0px;
    margin: 10px 0;
    border: none;
    box-shadow: 0 0 10px #ddd;
    border-radius: 15px;
}

.myform button {
    margin: 10px 0;
    width: 120px;
    border-radius: 15px;
    color: #fff;
    background: #0039b5;
    text-transform: uppercase;
    border: none;
    padding: 7px 12px;
    cursor: pointer;
}

.myform button:active,
.myform button:focus,
.myform input:active,
.myform input:focus,
.myform textarea:active,
.myform textarea:focus {
    outline: none;
}
.text-center {
    text-align: center;
}

#mysection01 h2 {
    width: 100%!important;
    padding: 25px 0 15px 0;
    font-weight: 600;
    color: #0039b5;
}

#mysection01 p {
    padding-bottom: 1rem;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
}
.img-width {
    max-width: 100%;
}

#mysection02 .mydiv {
    width: 50px;
    padding-right: 15px;
    display: flex;
    align-items: center;
}


#mysection02 p {
    margin-bottom: 0!important;
    padding-bottom: 0!important;
}


.myimg1 {
    width: 40px!important;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: #0039b5;
}

.nav-pills .nav-link {
    color: #0039b5;
    padding: 10px 20px;
    border: none;
}

.nav-pills .nav-link:hover {
    color: #0039b5;
}

.nav-pills .nav-link.active:hover {
    color: #fff;
}

.nav-pills li:nth-child(1) {
    border-top: 2px solid #0039b5;
    border-left: 2px solid #0039b5;
    border-bottom: 2px solid #0039b5;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.nav-pills li:nth-child(2) {
    border-top: 2px solid #0039b5;
    border-right: 2px solid #0039b5;
    border-bottom: 2px solid #0039b5;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.nav-pills .nav-item:first-child .nav-link {
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

.nav-pills .nav-item:nth-child(2) .nav-link {
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

div#pills-tabContent.tab-content {
    box-shadow: 0 0 10px #ddd!important;
    border-radius: 15px;
}

#pills-home {

}

.mytabs a:first-child {
    border-top-left-radius: 15px;
    border-top: none!important;
}


.mytabs a:last-child {
    border-bottom-left-radius: 15px;

}

.mytabs a {
    border-top: 1px solid #ddd!important;
    border-right: 1px solid #ddd!important;
}

.mytab-content {
    padding: 30px;
    width: 100%;
}

.mytabs {
    width: 346px;
}



.accordion {
  border-top: 1px solid #d9e5e8;
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
  width: 100%!important;
}
.accordion li {
  position: relative;
  margin-bottom: 2px!important; 
}
.accordion li p {
  display: none;
  padding: 15px;
  color: #959b9b;
  border: 2px solid #93aaf3;
  border-top: none;
  font-style: italic;
}
.accordion a {
  width: 100%;
  z-index: 99;
  display: block;
  cursor: pointer;
  background: #0039b5;
  color: #fff!important; 
  font-weight: 500!important;
  padding: 12px 30px 12px 7px;
  font-size: 15px;
  text-indent: 15px;
  user-select: none;
}

.accordion a:after {
  width: 10px;
  height: 10px;
  border-right: 3px solid #fcfcfc;
  border-bottom: 3px solid #fcfcfc;
  position: absolute;
  right: 22px;
  content: " ";
  top: 18px;
  transform: rotate(-45deg);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.accordion p {
  font-size: 13px;
  font-size: 0.8125rem;
  line-height: 2;
  padding: 15px;
}

a.active:after {
  top: 15px;
  right: 20px;
  transform: rotate(45deg);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.tab-content>.active {
    display: flex;
}

.myslice {
    padding-top: 4rem;
    padding-bottom: 4rem;
}



#mysection1 {
    padding: 8rem 0;
    background-blend-mode: multiply;
    background: #0039b78c;
    background-image: url(../bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

#mysection1 h2 {
    font-weight: bold;
    color: #fff;
    font-size: 35px;
}

#mysection1 p {
    font-size: 22px;
    font-weight: 300;
    color: #fff;

}

#mysection2 p {
    font-size: 22px;
    font-weight: 300;
    margin-bottom: 0!important;
}




#mysection2 p:first-child {
    border-bottom: 1px solid #ddd;
}

.person {
    display: block;
    padding: 30px;
    box-shadow: 0 0 30px #ddd;
    border: 1px solid #ddd;
    background: #fff;
    border-radius: 20px;
    margin: 15px;
}

.person a {
    width: 100%;
    height: 100%;
}

.person img {
    border-radius: 50%;
}

.person h3 {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    color: #555;
    padding-top: 15px;
}
.person p {
    font-size: 15px!important;
    color: #555;
    text-align: center;
    margin-bottom: 0;
}

.comment {
    padding: 15px;
    width: 1000%;
    background: #fff;
    height: auto;
    display: block;
    border-top: 2px solid #ddd;
    box-shadow: 0 -5px 5px -5px #ddd;
    margin: 10px 0;

    float: right!important;

}

.comment2 {
    padding: 15px;
    width: 90%;
    background: #fff;
    height: auto;
    display: block;
    border-top: 2px solid #ddd;
    margin: 10px 0;
    float: right!important;

}

.com-ava {
    text-align: center;
    border-radius: 50%;
}

.com-text {
    padding: 0 30px;
}

.mycard {
    width: 100%;
}


/*.mycard-inner div{*/
    /*width: 90%;*/
    /*float: right;*/
    /*border-radius: 0!important;*/

    /*box-shadow: 0 -5px 5px -5px #fff!important;*/
/*}*/


.my-card-inner_sub_div{
    float: right !important;
    width: 90% !important;
}

.my-card-no-radius{
    border-radius: 0 !important;
}

.text-green {
    color: #008000;
}

.border-green {
    border-color: #008000!important;
}

.text-myblue {
    color: #0039b5;
}


#moysection1 {
    padding: 8rem 0;
    background-blend-mode: multiply;
    background: #0039b78c;
    background-image: url(../images/lawyer-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

#moysection1 h2 {
    font-weight: bold;
    color: #fff;
    font-size: 35px;
}

#moysection1 p {
    font-size: 22px;
    font-weight: 300;
    color: #fff;

}

#moysection4 {
    padding: 8rem 0;
    background-blend-mode: multiply;
    background: #0039b78c;
    background-image: url(../images/lawyer-bg-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

#moysection4 h2 {
    font-weight: bold;
    color: #fff;
    font-size: 35px;
}

#moysection4 p {
    font-size: 22px;
    font-weight: 300;
    color: #fff;

}


.header-btn {
    text-align: center;
    margin: 0 auto;
    display: block;
    padding: 8px 25px;
    background: #0e2036d1;
    width: 200px;
    color: #fff;
    border: 1px solid #0e2036d1;
    border-radius: 100px;
    transition: all 0.3s;
    margin-top: 20px;
}
.header-btn:hover {
    color: #fff;
    transform: translateY(-5px);
    border: 1px solid #0c1929;
    background: #0c1929;
}
.myznak {
    margin-left: 5px;
}

.myp {
    font-size: 16px;

}

.pt-5 {
    padding-top: 35px!important;
}

.position-relative {
    position: relative!important;
}

.c-white {
    color: #fff;
}

#moysection2 > h2 {
    font-weight: 700;
    font-size: 2.5rem;
}

.text-600 {
    font-weight: 600;
}

.asds {
    font-size: 15px;
}

.mycolor {
    color: #6c7686;
}

.main-color {
    color: #0039b5;
}

.mysize {
    font-size: 18px;
}

.strong-600 {
    font-weight: bold;
}

.myprice {
    background: #0039b5;
    position: absolute;
    right: 0;
    top: 15px;
    color: #fff;
    padding: 5px 13px;
    font-weight: 400;
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
}

.footer-rotate {
    padding-top: 20rem;
}

.maqollar_bg {
    padding-bottom: 0.2rem;
}

.mybtn {
    background: #0039b5;
    padding: .625rem 1.6rem;
    color: #fff;
    font-weight: 400;
    text-align: center;
    border-radius: .25rem;
    margin: 3rem auto;
    display: block;
    width: 240px;
}

.mybtn:hover {
    color: #fff;
}

.mybtn2 {
    background: #0039b5;
    padding: 3px 10px;
    color: #fff;
    font-weight: 600;
    text-align: center; 
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
    position: absolute;
    bottom: 15px;
    right: 0;
}

.mybtn2:hover {
    color: #fff;
}

.mybtn3 {
    background: transparent;
    padding: 3px 10px;
    color: #0039b5;
    font-weight: 600;
    text-align: center; 
    border-radius: .25rem;
    border: 1px solid #0039b5;
    position: absolute;
    bottom: 15px;
    right: 15px;
    transition: all 0.2s ease-in-out;
}

.mybtn3:hover {
    color: #fff;
    background: #0039b5
}

.tongue-bottom {
    bottom: -2px;
}

.myeffect {
    transition: all 0.2s ease-in-out;
}

.myeffect:hover {
    transform: translateY(-15px);
}

.myborder {
    border: 1px solid #ddd;
}

.myimg1 {
    width: 150px!important ;
}

.img-width {
    max-width: 100%;
}

.myimg2 {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.mycard hr {
    margin: 5px 0;
}

.mycard {
    width: 100%;
    border-radius: 5px;
}

.myborder {
    border: 2px solid #0039b5!important;
}

.swiper-button-prev {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%234c71ae'%2F%3E%3C%2Fsvg%3E") !important;
}

.swiper-button-next {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%234c71ae'%2F%3E%3C%2Fsvg%3E") !important;
}

.myclass01:active, 
.myclass01:focus {
    outline: none!important;
}

.myclass01:hover {
    color: #555;
}



.mywidth {
    width: 300px;
    margin: 0 auto;
}

.page-item:first-child .page-link,
.page-item:last-child .page-link {
    color: #fff!important;
    border-radius: .25rem!important;
    background: #0039b5!important;
}

.page-link {
    border: 1px solid #0039b5!important;
    background: transparent!important;
    color: #0039b5!important;
    transform: all 0.2s ease-in-out!important;
    border-radius: .25rem!important;
}

.page-link:hover {
    color: #fff!important;
    background: #0039b5!important;
}

.myclass03 {
    min-height: 435px;
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff !important;
    border-color: #0048b2 !important;
    background-color: #0048b2 !important;
}

.full_text_posts {}

.full_text_posts img {
    max-width: 100%;
}


.question_block {
    background: #fff;
    padding: 20px 10px;
    box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.1);
    -o-box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.1);
}

.btn-all{
    border-top: solid 1px #6C7686;
    border-bottom: solid 1px #6C7686;
    border-left: solid 1px #6C7686;
    display: inline-block !important;
    border-radius:5px 0px 0px 5px;
    margin-right:-6px;
}
.btn-free{
    border:solid 1px #6C7686;
    display: inline-block !important;
    border-radius:0px 5px 5px 0px;
    margin-left:-5px;
}

.label_closed {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -moz-border-radius: 5px;
    background: #4CAF50;
    color: #fff;
    padding: 2px 10px;
    font-size: 13px;
    font-weight: 600;
}



.q-circle {
    border-radius: 50%;
    padding-left: 9px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 9px;
    background-color: #0039B5;
    color: white;
}

.hover-q:hover {
    background-color: #0000000a;
}

.question_price {
    font-size: 16px;
    background-color: #DDE5F1;
    padding: 10px;
    margin-left: -30px;
    color: #3c66a0 !important;
    margin-bottom: 20px;

}

.top_paid{
    margin-bottom: 10px
}

.question_price span {
    display: inline-block;
    vertical-align: top;
    font-size: 10px;
    margin: -4px 0 0 7px;
}

.croaked_question{
    font-size: 16px;
    color: #b9a16d;
    background-color: #fbf3c7;
    padding: 10px;
    margin-left: 5px;
    margin-bottom: 20px;
}

.q-status {
    border-bottom: solid 1px #c5c5c5;
    padding:30px !important;
}

.top_question {
    background: #fbf1c94a !important;
}

.question_price_in{
    margin-left: -32px !important;
}
.questions_div{
    padding: 0 !important;
    float: left;
    margin: 0 -15px;
}

.hover-a-q{
    color:#6C7686
}

.btn-money{
    border:solid 1px #6C7686;
    display: inline-block !important;
}
.btn-all a{
    padding: 6px 13px;
    display:block;
    color: #6C7686;
}

.btn_use  a{

    color: #0039B5;
}

.btn-free a{
    padding: 6px 13px;
    display:block;
    color: #6C7686;
}
.btn-money a{
    padding: 6px 13px;
    display:block;
    color: #6C7686;
}
.btn-all a:hover{
    background-color: #0039B5;
    color:white;
}
.btn-free a:hover{
    background-color: #0039B5;
    color:white;
}
.btn-money a:hover{
    background-color: #0039B5;
    color:white;
}
.btn-active{
    background-color: #0039B5;
}
.btn-active a{
    color:white !important;
}

.margin-bottom-0 {
    margin-bottom:0px !important;
}


.form-control:focus{
    border-color: #0039B5 !important;
}

.not_answers{

}



#overlayBase {
    visibility:hidden;
}
.page-overlay {
    visibility:visible!important;
    position: fixed; top: 0;
    left: 0; width: 100%; height: 100%; z-index: 200;
    pointer-events: none;
    background: #f0f1f3;
    opacity: 1;
    transition: all .5s;

}

.page-overlay .loader-wrap {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.page-overlay .loader-review {
    position: absolute;
    top: calc(50% + 60px);
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    font-family: Arial;
    font-size: 13px;
    text-align:center;

}


.loading {
    background-color: "#2e6da4";
    height: 5px;
    margin: 1em;
    overflow: hidden;
    position: relative;
    width: 12em;
}

.loading-bar {
    animation: sideToside 2s ease-in-out infinite;
    /*change this for the color of the sideToside line*/
    background-color: #2e6da4;
    height: 100%;
    position: absolute;
    width: 50%;
}

@keyframes sideToside {
    0%, 100% { transform: translateX(-50%); }
    50%      { transform: translateX(150%); }
}

.center {
    left: 50%;
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}


.bg-white{
    background-color: #fff ;
}

.hidden {
    position: absolute;
    overflow: hidden;
    width: 0;
    height: 0;
    pointer-events: none;
}


/* Header */

.codrops-header {
    padding: 2em 1em 4em;
    text-align: center;
}

.codrops-header h1 {
    margin: 0.5em 0 0;
    letter-spacing: -1px;
    font-size: 3em;
    line-height: 1;
}

.codrops-header h1 span {
    display: block;
    padding: 0.5em 0 1em;
    color: #999;
    font-weight: normal;
    font-size: 0.45em;
}


/* Top Navigation Style */

.codrops-links {
    position: relative;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
}

.codrops-links::after {
    position: absolute;
    top: 0;
    left: 50%;
    width: 1px;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
    content: '';
    -webkit-transform: rotate3d(0, 0, 1, 22.5deg);
    transform: rotate3d(0, 0, 1, 22.5deg);
}

.codrops-icon {
    display: inline-block;
    margin: 0.5em;
    padding: 0em 0;
    width: 1.5em;
    text-decoration: none;
}

.codrops-icon span {
    display: none;
}

.codrops-icon:before {
    margin: 0 5px;
    text-transform: none;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    font-family: 'codropsicons';
    line-height: 1;
    speak: none;
    -webkit-font-smoothing: antialiased;
}

.codrops-icon--drop:before {
    content: "\e001";
}

.codrops-icon--prev:before {
    content: "\e004";
}


/* Demo links */

.codrops-demos {
    margin: 2em 0 0;
}

.codrops-demos a {
    display: inline-block;
    margin: 0 0.5em;
}

.codrops-demos a.current-demo {
    color: #333;
}


/* Content */

.content {
    width: 100%;
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
    padding: 0 0 3em 0;
}

.content footer {
    color: #b39295;
    margin-top: 40px;
}

.content footer a:hover,
.content footer a:focus {
    color: #4b0f31;
}

.box {
    background-color: #dfc8ca;
    padding: 6.25rem 1.25rem;
}

.box + .box {
    margin-top: 2.5rem;
}


/* Related demos */

.content--related {
    text-align: center;
    font-weight: bold;
    padding-top: 4em;
}

.media-item {
    display: inline-block;
    padding: 1em;
    vertical-align: top;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
}

.media-item__img {
    max-width: 100%;
    opacity: 0.6;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

.media-item:hover .media-item__img,
.media-item:focus .media-item__img {
    opacity: 1;
}

.media-item__title {
    margin: 0;
    padding: 0.5em;
    font-size: 1em;
}

@media screen and (max-width: 50em) {
    .codrops-header {
        padding: 3em 10% 4em;
    }
}

@media screen and (max-width: 40em) {
    .codrops-header h1 {
        font-size: 2.8em;
    }
}


.inputfile-3 + label {
    color: #0048b2;
}

.inputfile-3:focus + label,
.inputfile-3.has-focus + label,
.inputfile-3 + label:hover {
    color: #0143a2;
}
.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    max-width: 80%;
    font-size: 1.25rem;
    /* 20px */
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
    /* 10px 20px */
}


.inputfile:focus + label,
.inputfile.has-focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.inputfile + label * {
    /* pointer-events: none; */
    /* in case of FastClick lib use */
}

.inputfile + label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    /* 4px */
    margin-right: 0.25em;
    /* 4px */
}


.download-file{
    padding: 8px 14px 8px 14px;
    color: #989898;
}


.download-file:hover{
    background: #f5f5f5;
    border: 1px solid #dedede;
}


.download-file-name{
    line-height: 44px;
}

.svg-icon--svg_icon_staple{
    width: 28px;
    height: 28px;
    position: absolute;
    margin: -14px 0 0 -14px;
    left: 50%;
    top: 50%;
    fill: #fff;
}

.padding0{
    padding:0 !important;
}

.svg-icon--download{

    position: absolute;
    right: 23px;
    width: 20px;
    top: 0;
    height: 44px;
    opacity: .3;
    fill: #0e120a;
}

.anwers_footer_padding{
    padding: 1.5rem 0 !important;
    width:100%;
}



.gratitude-pressed{
    background: #008000!important;
    color: #fff !important;
}

.reply_btn{
    background: #0039b5 !important;
}

.closed_in{
    margin: 5px 7px 0px 3px !important;
    padding: 5px 10px !important;
    float: left;
}

.reply_btn span{
    color: #fff !important;
}

.gratitude-pressed span {
    color: #fff !important;
}


.q-bg5 {
    width: 30%;
    position: absolute;
    right: 0;
    top: 60%;
}


.q-bg4 {
    width: 30%;
}


.bg-question{
    background-color: #F8F9FD;
}

.phone-input-padding {
    padding: 5px 15px !important;
}

.btn-back_question {
    /* top: -80%; */
    /* left: -3%; */
    color: rgb(108, 118, 134);
    /* position: absolute; */
    font-size: 50px;
    float: left;
}

.step-circle-O{
    width: 15px;
    height: 15px;
    background-color: none;
    border: 2px solid #6C7686;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.step-circle{
    width: 15px;
    height: 15px;
    background-color: #6C7686;
    border: 2px solid #6C7686;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.list-unstyled li {
    padding: .1rem 0 !important;
}

.list-unstyled .fa-check {
    color: #4caf50 !important;
}

.list-unstyled span {
    font-size: 12px !important;
}

.down-info {
    font-size: 11px;
    color: white;
    margin-bottom: 8px;
    margin-left: -16px;
    margin-right: -16px;
    padding:5px;
    background-color: #0039B7
}