<template>
    <form class="login-form" v-if="step == 1" @submit.prevent="loginForm">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text" data-text="+998">+998</span>
            </div>
            <input type="tel" v-model="user.phone" class="form-control" :class="{ 'is-invalid': errors.phone }" placeholder="XX XXX XX XX" minlength="9" maxlength="9" required>
        </div>

        <button class="btn btn-lg btn-primary btn-block mt-3" type="submit" :disabled="button.login">
            {{ $t('Login') }}
        </button>
    </form>

    <form class="register-form" v-else-if="step == 2" @submit.prevent="registerForm">
        <div class="form-group text-center">
            <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="legal-person" value="legal-person" class="custom-control-input" :class="{ 'is-invalid': errors.role }" v-model="user.role" required>
                <label for="legal-person" class="custom-control-label">{{ $t('roles.legal-person') }}</label>
            </div>

            <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="client" value="client" class="custom-control-input" :class="{ 'is-invalid': errors.role }" v-model="user.role" required>
                <label for="client" class="custom-control-label">{{ $t('roles.client') }}</label>
            </div>
        </div>

        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text" data-text="+998">+998</span>
            </div>
            <input type="tel" :value="user.phone" class="form-control" :class="{ 'is-invalid': errors.phone }" placeholder="XX XXX XX XX" minlength="9" maxlength="9" disabled required>
        </div>

        <input type="text" v-model="user.first_name" class="form-control" :class="{ 'is-invalid': errors.first_name }" :placeholder="$t('First Name')" maxlength="255" required>
        <input type="text" v-model="user.last_name" class="form-control" :class="{ 'is-invalid': errors.last_name }" :placeholder="$t('Last Name')" maxlength="255" required>
        <input type="email" v-model="user.email" class="form-control" :class="{ 'is-invalid': errors.email }" :placeholder="$t('E-Mail Address')" maxlength="255">

        <select v-model="user.city" class="form-control" :class="{ 'is-invalid': errors.city }" required>
            <option :value="null" disabled>{{ $t('Select City') }}</option>
            <option v-for="city in cities" :key="city.id" :value="city.slug">{{ $t(`cities.${city.slug}`) }}</option>
        </select>

        <div class="form-group">
            <select2 v-model="user.lang" class="form-control select2" :options="lang" :placeholder="$t('Select Language')" multiple required>
                <option></option>
            </select2>
        </div>

        <button class="btn btn-lg btn-primary btn-block" type="submit" :disabled="button.register">
            {{ $t('Register') }}
        </button>
    </form>

    <form class="verify-form" v-else="step == 3" @submit.prevent="verifyForm">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text" data-text="+998">+998</span>
            </div>
            <input type="tel" :value="user.phone" class="form-control" :class="{ 'is-invalid': errors.phone }" placeholder="XX XXX XX XX" minlength="9" maxlength="9" disabled required>
        </div>

        <input type="text" v-model="verify.code" class="form-control" :class="{ 'is-invalid': errors.code }" :placeholder="$t('Verify Code')" minlength="5" maxlength="5" required>

        <a href="#" class="btn btn-link mt-3" v-if="verify.attempt > 2" @click.prevent="resentVerifyCode">
            {{ $t('Resent verify code') }}
        </a>

        <button class="btn btn-lg btn-primary btn-block mt-3" type="submit" :disabled="button.verify">
            {{ $t('Verify') }}
        </button>
    </form>
</template>

<script>
    export default {
        data: () => ({
            step: 1,

            button: {
                login: false,
                register: true,
                verify: true,
            },

            lang: [
                { id: 'uz', text: Yuridik.translate('languages.uz') },
                { id: 'ru', text: Yuridik.translate('languages.ru') },
            ],

            cities: [
                { id: 1, slug: 'no-region' },
                { id: 2, slug: 'tashkent-city' },
                { id: 3, slug: 'tashkent-region' },
                { id: 4, slug: 'andijan' },
                { id: 5, slug: 'bukhara' },
                { id: 6, slug: 'jizzakh' },
                { id: 7, slug: 'karakalpakstan' },
                { id: 8, slug: 'kashkadarya' },
                { id: 9, slug: 'navoi' },
                { id: 10, slug: 'namangan' },
                { id: 11, slug: 'samarkand' },
                { id: 12, slug: 'surkhandarya' },
                { id: 13, slug: 'syrdarya' },
                { id: 14, slug: 'fergana' },
                { id: 15, slug: 'khorezm' },
            ],

            user: {
                first_name: null,
                last_name: null,
                phone: null,
                email: null,
                lang: [],
                role: 'client',
                city: null,
            },

            verify: {
                attempt: 0,
                code: null,
            },

            errors: [],
        }),

        methods: {
            async loginForm() {
                this.button.login = true;

                let response;

                try {
                    response = await Yuridik.request().post('/auth/login', {
                        phone: this.user.phone,
                    });
                } catch (error) {
                    this.button.login = false;

                    if (error.response.status == 422) {
                        this.errors = error.response.data.errors;
                    }

                    return;
                }

                this.errors = [];

                if (response.data.send) {
                    this.step = 3;
                    this.button.verify = false;

                    Yuridik.$emit('success', 'Verify code successfully sent.');

                    return;
                }

                if (! response.data.user) {
                    this.step = 2;
                    this.button.register = false;

                    Yuridik.$emit('info', 'Please fill out the registration form.');

                    return;
                }

                this.button.login = false;

                Yuridik.$emit('error', 'Unknown error, please try again!');
            },

            async registerForm() {
                this.button.register = true;

                let response;

                try {
                    response = await Yuridik.request().post('/auth/register', this.user);
                } catch (error) {
                    this.button.register = false;

                    if (error.response.status == 422) {
                        this.errors = error.response.data.errors;
                    }

                    return;
                }

                this.errors = [];

                if (response.data.send) {
                    this.step = 3;
                    this.button.verify = false;

                    Yuridik.$emit('success', 'Verify code successfully sent.');

                    return;
                }

                this.button.register = false;

                Yuridik.$emit('error', 'Unknown error, please try again!');
            },

            async verifyForm() {
                this.button.verify = true;

                let response;

                try {
                    response = await Yuridik.request().post(`/auth/verify/998${this.user.phone}/code/${this.verify.code}`);
                } catch (error) {
                    this.button.verify = false;

                    if (error.response.status == 422) {
                        this.errors = error.response.data.errors;
                    }

                    return;
                }

                this.errors = [];

                if (response.data.verify) {
                    Yuridik.$emit('success', 'You have successfully logged in.');

                    setTimeout(function () {
                        window.location.href = '/';
                    }, 7000);

                    return;
                }

                if (! response.data.code) {
                    this.verify.attempt ++;
                    this.button.verify = false;

                    Yuridik.$emit('error', 'Verify code is incorrect, please try again!');

                    return;
                }

                this.button.verify = false;

                Yuridik.$emit('error', 'Unknown error, please try again!');
            },

            async resentVerifyCode() {
                this.button.verify = true;

                let response;

                try {
                    response = await Yuridik.request().post(`/auth/send/998${this.user.phone}`);
                } catch (error) {
                    this.button.verify = false;

                    if (error.response.status == 422) {
                        this.errors = error.response.data.errors;
                    }

                    return;
                }

                this.errors = [];

                if (response.data.send) {
                    this.verify.attempt = 0;
                    this.button.verify = false;

                    Yuridik.$emit('success', 'Verify code successfully resent.');

                    return;
                }

                if (response.data.verify) {
                    this.step = 1;
                    this.button.login = false;

                    Yuridik.$emit('error', 'You has been verified.');

                    return;
                }

                this.button.verify = false;

                Yuridik.$emit('error', 'Unknown error, please try again!');
            },
        },
    }
</script>
