<template>
    <select>
        <slot></slot>
    </select>
</template>

<script>
    export default {
        props: ['options', 'value', 'placeholder'],

        mounted() {
            let vm = this;

            $(this.$el).select2({ placeholder: this.placeholder, data: this.options }).val(this.value).trigger('change').on('change', function () {
                let checkVal = $(this).val();

                if (! Array.isArray(this.value) && Array.isArray(checkVal)) {
                    vm.$emit('input', checkVal);
                } else {
                    vm.$emit('input', this.value);
                }
            });
        },

        watch: {
            value: function (value) {
                let checkVal = $(this.$el).val();

                if (! Array.isArray(value) && Array.isArray(checkVal)) {
                    $(this.$el).val(value).trigger('change');
                }
            },

            options: function (options) {
                $(this.$el).empty().select2({ data: options });
            },
        },

        destroyed: function () {
            $(this.$el).off().select2('destroy');
        },
    }
</script>

